<section class="book-page" id="book-page">
    <h2>{{title}}</h2>
    <div class="page-content">
        <p>{{page.content}}</p>
        <div class="choices">
            {{#each page.choices}}
                <a href="/book/{{../book_id}}/page/{{this.target_page_id}}"
                   hx-get="/book/{{../book_id}}/page/{{this.target_page_id}}"
                   hx-target="#book-page" 
                   hx-swap="innerHTML" 
                   hx-push-url="true">
                    {{this.text}}
                </a>
            {{/each}}
        </div>
    </div>
</section>
